version: "3.9"

services:
    app:
        depends_on:
            - valkey
        environment:
            - CACHE_POOL=cache.redis
            - CACHE_DSN=valkey:6379
            - CACHE_NAMESPACE

    valkey:
        image: "valkey/valkey:latest"
        container_name: valkey
        ports:
            - "6379:6379"
        command: ["valkey-server", "--save", "", "--appendonly", "no"]
        restart: "no"
        networks:
            - backend
