name: Build and test Docker images
on:
    pull_request: ~
    workflow_dispatch:
        inputs:
            force:
                default: false
                required: false
                type: boolean
                description: "Push new images even when tests fail"

jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        permissions:
          contents: read
          packages: write
        strategy:
            fail-fast: false
            matrix:
                php:
                    - "7.4"
                    - "8.0"
                    - "8.1"
                    - "8.2"
                    - "8.3"
                    - "8.4"
                node:
                    - "18"
                product-version:
                    - "~4.6.x-dev"
                include:
                    - php: "7.3"
                      product-version: "~3.3.x-dev"
                      node: "14"
                    - php: "7.4"
                      product-version: "~3.3.x-dev"
                      node: "16"
                    - php: "8.3"
                      product-version: "~3.3.x-dev"
                      node: "18"

        steps:
            - uses: actions/checkout@v4
            - name: Build image
              run: bin/ci/build.sh ${{ matrix.php }} ${{ matrix.node }}
            - name: Test image
              run: bin/ci/test.sh
              continue-on-error: ${{ inputs.force != '' }}
              env:
                TEST_CMD: "vendor/bin/behat -v --profile=browser --suite=admin-ui --tags=@richtext --config=behat_ibexa_oss.yaml"
                PRODUCT_VERSION: ${{ matrix.product-version }}
            - name: Log in to the Container registry
              uses: docker/login-action@v3
              with:
                registry: ghcr.io
                username: ${{ github.actor }}
                password: ${{ secrets.GITHUB_TOKEN }}
            - name: Push image
              if: github.event_name == 'workflow_dispatch'
              run: bin/ci/push.sh ghcr.io/ibexa/docker/php
